html, body {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  background: #eee;
}
.btn-request {
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  border: none;
  width: 50vw;
  height: 50vw;
  font-size: 20vw;
  border-radius: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0.25rem .5rem 1rem rgba(0,0,0,.1);
}